.grid {
    width: 100%;
    height: 200px;
}

.signup {
  width: 1000px;
  height: 250px;
  padding-left: 25px;
}

.grid .ui-grid-header-cell {
    height: 60px;
}

.grid  .ui-grid-header-cell {
  height: 60px;
}

.grid .ui-grid-row .blue {
  background-color: lightblue;
}

.grid .ui-grid-row .pink {
  background-color: pink;
}

body {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}