<div ng-controller="mainController" class="container">

	<span ng-show="currentUser">
	  <form>
			<div class="form-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> 
						<label>Task Name</label>
					</span>
				</div>
				<input type="text" name="name" ng-model="formData.title" placeholder="Task name"  class="form-control"/>
			</div>									  
	
			<div class="form-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> 
						<label>Task Details</label>
					</span>
				</div>
				<textarea name="details" ng-model="formData.details" class="form-control" rows="5" placeholder="Task details"></textarea>
			</div>

			<div class="form-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> 
						<label>Due Date</label>
					</span>
				</div>
				<input type="date" name="dueDate" ng-init="model=(myDate | date:'dd-MM-yyyy')" ng-model="formData.dueDate" class="form-control"/>
			</div>
										
			<div class="form-group">
				<input type="hidden" ng-model="task._id" />
				<button class="btn btn-success" ng-click="createTask()">Create Task </button>
			</div>
		
	  </form>
	</span>

	<span ng-show="!currentUser">
		<h3>Please login or signup to continue</h3>
	</span>

 </div>