<div ng-controller="mainController">
    <div class="row">
        <div class="span4">
	        <div ui-grid="gridOptionsTasks"  ui-grid-selection ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns class="grid"></div>
        </div>
        
        <div class="span4">
           <div ui-grid="gridOptionsUsers" ui-grid-selection ui-grid-edit ui-grid-cellNav ui-grid-resize-columns class="grid"></div>
        </div>
    </div>

	<br/>

    <div>
        <label>Task Name</label>
        <input type="text" name="name" ng-model="formData.title"/>
 
        <label>Task Details</label>
        <input type="text" name="address" ng-model="formData.details"/>
 
        <label>Due Date</label>
		<input type="date" name="dueDate" ng-init="model=(myDate | date:'dd-MM-yyyy')" ng-model="formData.dueDate" />
 
        <br/>
 
        <input type="hidden" ng-model="task._id" />
        <input type="button" value="Create Task" ng-click="createTask()" class="btn btn-primary"/>

        <input type="hidden" ng-model="task._id" />
        <input type="button" value="Assign a Task to a User" ng-click="addUserToTask()" class="btn btn-primary"/>

        <a href="#!edit">Edit</a>
  
    </div>

 </div>